body {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('https://s3.envato.com/files/248278320/_MG_9606.jpg');
    height: 783px;
}

hr {
    width: 100%;
    margin-left: 0px;
}

#navbar {
    text-align: center;
    background-color: paleturquoise;
    align-content: center;
    width:100%;
    margin-left: 0px;
    height: 40px;
}

#orderBar {
    width: 100%;
    text-align: center;
    background-color: rgba(20, 110, 160, 0.6);
}

#sideBar {
    float: left;
    text-align: center;
    height: 33%;
    background-color: rgba(20, 110, 160, 0.6);
}

#underbar {
    background-color: rgba(20, 110, 160, 0.6);
    text-align: center;
}

#mainContent {
    width:100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 629px;
    margin-left: 0px;
}

#clientContact {
    text-align: center;
    background-color: rgba(20, 110, 160, 0.6);
    width: 65%;
    margin-left: 228px;
    color: white;
}

#loginBox {
    text-align: center;
    background-color: lightgray;
    opacity: 0.8;
    height:100%;
}
#title {
    font-size: 3em;
}

#workerLabel {
    font-size: 2em;
}

#tableStock {
    margin-left: 0px;
}

#cartBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableClients {
    width: 100%;
}

#orderFullPrice {
    font-weight: 500;
    font-size: 50px;
}

#tableAddress {
    width: 100%;
}

#rule{
    width: 100%;
}

#tableLabels {
    float: left;
}
#tableArtists {
}

#tableTypes {
    float: left;
}
